# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
*.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp

# PyQt build artifacts
*.qrc
*.ui.py

